html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f8fa; }

.text-right {
  text-align: right; }

main {
  margin-left: 300px;
  padding: 80px; }

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: #002d4c; }
  nav div {
    padding: 20px 0 20px 20px;
    color: #f5f8fa;
    opacity: 0.30; }
    nav div:hover {
      opacity: 1;
      cursor: pointer; }
    nav div.active {
      border-right: 2px solid #00ebfa;
      color: #00ebfa;
      opacity: 1; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.row {
  position: relative;
  border-bottom: 1px dashed rgba(51, 51, 51, 0.15); }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row .bar {
    position: absolute;
    bottom: -1px;
    width: 100%; }
    .row .bar div {
      height: 2px;
      float: left; }
    .row .bar .b-undergrad {
      background: green; }
    .row .bar .b-grad {
      background: blue; }

.pad, .pad td, .pad th {
  padding: 20px 0; }

.name {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%; }
  .name:last-child {
    margin-right: 0; }

.total {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  margin-right: 0; }
  .total:last-child {
    margin-right: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

th {
  text-align: left;
  border-bottom: 1px solid rgba(51, 51, 51, 0.05); }

td {
  border-bottom: 1px solid rgba(51, 51, 51, 0.05);
  padding: 10px; }
