html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

body {
  padding: 80px; }

#container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container::after {
    clear: both;
    content: "";
    display: table; }

table {
  border-collapse: collapse; }

th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc; }

td {
  border-bottom: 1px dashed #ddd;
  padding: 10px; }
