@import "bourbon", "neat";

// VARIABLES
// -------------------------------------------------------------

$slate: #333;
$slate-15: rgba($slate, 0.15);
$slate-05: rgba($slate, 0.05);

$offwhite: #f5f8fa;
$offwhite-30: rgba($offwhite, 0.30);

$lightblue: #00ebfa;
$deepblue: #002d4c;

$nav-width: 300px;

// TYPOGRAPHY
// -------------------------------------------------------------

html, body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: $slate;
	background-color: $offwhite;
}

.text-right { text-align: right; }

// LAYOUT
// -------------------------------------------------------------

main {
	margin-left: $nav-width;
	padding: 80px;
}

nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $nav-width;
	background-color: $deepblue;

	div {
		padding: 20px 0 20px 20px;
		color: $offwhite;
		opacity: 0.30;

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		&.active {
			border-right: 2px solid $lightblue;
			color: $lightblue;
			opacity: 1;
		}
	}
}

.container {
	@include outer-container();
}

.row {
	position: relative;
	border-bottom: 1px dashed $slate-15;
	@include clearfix;

	.bar {
		position: absolute;
		bottom: -1px;
		width: 100%;

		div {
			height: 2px;
			float: left;
		}
		
		.b-undergrad { background: green; }
		.b-grad { background: blue; }
	}
}

.pad, .pad td, .pad th {
	padding: 20px 0;
}

.name {
	@include span-columns(10);
}

.total {
	@include span-columns(2);
	@include omega();
}

table {
	border-collapse:collapse;
	width: 100%;
}

th {
	text-align: left;
	border-bottom: 1px solid $slate-05;
}

td {
	border-bottom: 1px solid $slate-05;
	padding: 10px;
}